@use "typography" as *;
@use "colors" as *;
@use "mixins" as *;

* {
  box-sizing: border-box;
  font-family: "OpenSans", sans-serif;
}

body {
  background-color: $paper-white;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
