@use "../styles/partials/global" as *;
@use "../styles/partials/colors" as *;
@use "../styles/partials/mixins" as *;

.hero {
  // background: linear-gradient(
  //     0deg,
  //     rgba(50, 50, 50, 0.5),
  //     rgba(50, 50, 50, 0.5)
  //   ),
  //   url(../assets/images/temp-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 30rem; //temporary

  &__learn-more {
    color: $med-blue-grey;
    position: absolute;
    bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
  }
}

.reveal {
  display: flex;
}
